/1st.py
/3rd.py
/college work.py
/dictonary home work.py
/dictonary.py
/django
/fight_game
/if_prac.py
/if_statment.py
/if_stmt-2.py
/impor_concept
/k.py
/l.py
/list and if statment.py
/login form.py
/m.py
/password_generator.py
/PTCL.py
/salryinif.py
/saqibkhan.py
/saqib_egg_game.py
/saqib_mangor _game.py
/saqib_question_answer.py
/saqib_tazinagame.py
/sets.py
/sorting.py
/spiner_animation.py
/story.py
/tiktok.py
/Waleed.xml